<h1>Listing users</h1>

<div id="user-view">
  <table id="data-table">
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>EMAIL</th>
      <th></th>
    </tr>
    <tr>
      <td></td>
      <td><input type="text" placeholder="name" value="" class="name"></td>
      <td><input type="text" placeholder="email" value="" class="email"></td>
      <td><input type="submit" value="Submit" class="submit"></td>
    </tr>
  </table>
</div>

<div id="edit-area2"></div>
